

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #000;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    text-align: center;
}


tr:nth-child(odd) {
    background: white;
}



tr:nth-child(even) {
    background: #E8E6D1;
}


.otchet{
    text-align: center;

}


.first{
    background-color: #F218FA;
}

.twice{
    background-color: #FA5821;
}

.therd{
    background-color: #FACC18;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: cadetblue;
}









